<div class="container" ng-controller="View1Ctrl">
    <div class="col-sm-8">
        <!-- FORM -->
        <button class="btn" ng-show="authData !== null" ng-click="open()">Add Collection</button>

        <div modal="showModal" class="modal fade" close="cancel()">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" ng-click="cancel()" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Add Collection</h4>
                    </div>
                    <form name="userForm" ng-submit="addCollection()">
                        <div class="modal-body">
                            <div class="form-group">
                                <label>Collection Title: </label>
                                <input type="text" name="title" class="form-control" ng-model="collection.title">
                            </div>
                            <div class="form-group">
                                <label for="sel1">Type:</label>
                                <select ng-model="collection.type" name="type" class="form-control" id="sel1">
                                    <option ng-selected="true">References</option>
                                    <option>Track</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Description: </label>
                                <input type="text" name="description" class="form-control" ng-model="collection.description">
                            </div>
			    <div class="form-group">
                                <label>Tags: </label>
                                <tags-input ng-model="collection.tags" add-on-paste="true">
								  <auto-complete source="collection.loadTags($query)"></auto-complete>
								</tags-input>
                            </div>
                        <div class="modal-footer">
                            <button type="button" ng-click="cancel()" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" ng-click="submit()"class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
    </div>
</div>
